/* Palette di Colori */
:root {
    --primary-color: #1E90FF; /* Blu brillante */
    --secondary-color: #FF6B6B; /* Rosso corallo */
    --background-color: #2C3E50; /* Blu notte */
    --text-color: #ECF0F1; /* Bianco sporco */
    --hover-color: #4AA3DF; /* Blu chiaro per hover */
}

  /* Stili di base */
  body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
  }
  
  .profile-photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid var(--primary-color);
    margin-bottom: 20px;
  }
  
  .name {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.9%;
    margin-top: 0.3%;
  }

  .name h1 {
    margin: 0;
    font-size: 2em;
    color: var(--primary-color);
  }
  
  .name p {
    margin: 5px 0 20px;
    font-size: 1.2em;
    color: var(--text-color);
  }
  
  /* Contenitore dei bottoni (verticale) */
  .button-container, .button-project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  /* Stile dei bottoni */
  .button, .button-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    padding: 10px 20px;
    font-size: 1em;
    color: var(--text-color);
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  /* Effetto hover */
  .button:hover, .button-project:hover {
    background-color: var(--hover-color);
  }
  
  /* Icone nei bottoni */
  .button-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  
  /* Stile del bottone "Progetti" */
  .button-project {
    background-color: var(--secondary-color);
  }
  
  /* Contenitore dei bottoni contatti (orizzontale) */
  .button-container-contatti {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  
  /* Stile dei bottoni circolari */
  .button-contatti {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 50%;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .button-contatti:hover {
    background-color: var(--hover-color);
  }
  
  .button-contatti .button-icon {
    width: 24px;
    height: 24px;
    margin: 0;
  }
  
  /* Footer */
  .footer {
    margin-top: 70px;
    font-size: 0.9em;
    color: var(--text-color);
  }