body {
    font-family: "Montserrat", sans-serif;
    background-color: #1A1A2E;
    margin-left: 3.3%;
    margin-right: 3.3%;
}

.main_div {
    margin-left: 2%;
    margin-right: 2%;
}

h1 , h3{
    color: #E5E5E5;
}

h2 {
    margin-top: 3%;
}

p {
    color: #E5E5E5;
    text-align: justify;
}


.title_div {
    font-family: "Montserrat", sans-serif;
    color: #FFD460;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #E94560;
    border-bottom: 4px solid #E94560;
    background-color: #0F3460;
    padding: 10px;
}

h2 {
    color: #FFD460;
}

table {
    background-color: #16213E;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2%;
}

th, td {
    border: 1px solid #E94560;
    padding: 8px;
    text-align: left;
    color: #E5E5E5;
}

th {
    background-color: #E94560;
    color: #1A1A2E;
}

tr:nth-child(even) {
    background-color: #0F3460;
}

/* Images container */
.image-container {
    display: flex;
    justify-content: space-between;
    gap: 1%;
}

.image-box {
    text-align: center;
    width: 30%;

}

.image-text {
    color: white;
}

.film-image {
    width: 100%;
    height: auto;
    border-radius: 4%;
    transition: transform 0.3s ease-in-out;
}

.film-image:hover {
    transform: scale(102%); 
}

footer {
    margin-top: 6%;
    border-top: 4px solid #E94560;
    background-color: #0F3460;
    padding: 20px 10%;

}

#footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#copyright {
    color: white;
    font-size: 14px;
}

#button {
    background-color: #E94560;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

#button:hover {
    background-color: #FF6B81;
}